{% extends "base.html" %}

{% block content %}
    {% for task in tasks %}
        <article>
          <div>
            <div>
              <a href="#">{{ task.author.username }}</a>
              <small>{{ task.timestamp.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a href="{{ url_for('main.task', task_id=task.id) }}">{{ task.title }}</a></h2>
            <p>{{ task.task_text }}</p>
            <p>Priority: {{ task.priority }}</p>
            <p>Status: {{ task.status }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock %}